<div class="w-full">
    <div class="xl:flex-none xl:flex xl:justify-start xl:items-center">
        <div class="grid grid-cols-1 gap-2 text-gray-800">
            <h1 class="font-semibold text-4xl xl:text-6xl">
                チームメンバーの
            </h1>
            <h1 class="font-semibold text-4xl xl:text-6xl">
                プロフィールを
            </h1>
            <h1 class="font-bold text-5xl xl:text-7xl">
                <span class="text-6xl xl:text-8xl">Hub</span>で一つに
            </h1>
        </div>
        <div class="flex justify-start items-baseline mt-12 xl:ml-10">
            <%= image_tag 'pc.png', class: "w-auto h-40 2xl:h-80 xl:h-56" %>
            <%= image_tag 'phone.png', class: "w-auto h-40 2xl:h-80 xl:h-56" %>
        </div>
    </div>
    <div class="mt-12 xl:mt-20 text-gray-600  xl:text-left text-right flex justify-end xl:justify-start">
        <div class="w-[280px] xl:w-5/6 text-lg xl:text-2xl">
             Members Hubは、チームメンバーのプロフィールを閲覧するためのプラットフォームを提供します
        </div>
    </div>
</div>
<div class="border-b-2 border-gray-300  w-full inline-flex justify-center mt-20 mb-10"></div>
<div class="mb-10">
    <div class="font-bold text-center text-6xl text-gray-700 xl:text-8xl">
        How to use
    </div>
    <div class="text-base text-gray-600 text-center mt-3 xl:text-3xl xl:mt-10">
        <p>簡単な操作でチームを作成し、</p>
        <p>スムーズにチームへ参加することができます</p>
    </div>
    <p class="text-start text-sm text-gray-600 mt-10 mb-3 block xl:hidden">※以下はPCサイズの画面となっています</p>
    <div class="xl:ml-5">
        <div class="xl:-ml-1">
            <h1 class="bg-blue-400 text-lg xl:text-4xl text-white border rounded-2xl px-4 py-1 font-semibold  inline-block">STEP 1</h1>
            <div class="mt-1 xl:mt-5 font-bold text-[30px] xl:text-5xl text-gray-700">チームを作成する</div>
        </div>
        <div class="font-semibold text-base text-gray-500 mt-4  <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">チーム名、パスワード、ロゴを指定して作成します</div>
        <%= image_tag 'step1.jpeg',class:"shadow-xl w-auto h-56 #{user_signed_in? ? '2xl:h-80 xl:h-72' : '2xl:h-96 xl:h-[333px] '}"  %>
    </div>
    <div class="mt-20">
        <div class="xl:ml-4 ">
            <h1 class="bg-blue-400 text-lg xl:text-4xl text-white border rounded-2xl px-4 py-1 font-semibold  inline-block">STEP 2</h1>
            <div class="mt-1 xl:mt-5 font-bold text-[30px] xl:text-5xl text-gray-700">プロフィール項目を設定</div>
        </div>
        <div class="flex-none xl:flex items-center justify-evenly 2xl:ml-0 xl:ml-5">
            <div>
                <div class="font-semibold text-base text-gray-500 mt-4 <%=user_signed_in? ? 'xl:text-[20px] xl:-ml-2' : 'xl:text-2xl'%>">名前・生年月日に加え７項目を自由に設定できます</div>
                <%= image_tag 'step2-1.jpeg', class: "shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80 xl:-ml-2' : 'xl:h-96'}" %>

            </div>
            <div class="flex justify-center xl:hidden">
                <i class="fa-solid fa-caret-down text-6xl text-gray-500"></i>
            </div>
            <div class="xl:block hidden mx-3">
                <i class="fa-solid fa-caret-right text-8xl text-gray-500"></i>
            </div>
            <div class="mt-4">
                <div class="font-semibold text-base text-gray-500 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">項目を設定後、チームが作成されます</div>
                <%= image_tag 'step2-2.jpeg',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80' : 'xl:h-96   '}" %>
            </div>
        </div>
    </div>
    <div class="mt-20 xl:ml-5">
        <div class="xl:-ml-1">
            <h1 class="bg-blue-400 text-lg xl:text-4xl text-white border rounded-2xl px-4 py-1 font-semibold  inline-block">STEP 3</h1>
            <div class="mt-1 xl:mt-5 font-bold text-[30px] xl:text-5xl text-gray-700">メンバーを招待</div>
        </div>
        <div class="font-semibold text-base text-gray-500 mt-4 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">招待リンクを共有して簡単にメンバーを招待することができます</div>
        <%= image_tag 'step3.jpeg',class:"shadow-xl w-auto h-56 #{user_signed_in? ? '2xl:h-80 xl:h-72' : '2xl:h-96 xl:h-[333px] '}"%>
        <div class="font-semibold text-sm xl:text-2xl text-gray-500 mt-6 text-right xl:text-start">※チームID・パスワードでチームへ参加することも可能です</div>
    </div>
    <div class="mt-20">
        <div class="xl:ml-4">
            <h1 class="bg-blue-400 text-lg xl:text-4xl text-white border rounded-2xl px-4 py-1 font-semibold  inline-block">STEP 4</h1>
            <div class="mt-1 xl:mt-5 font-bold text-[30px] xl:text-5xl text-gray-700">チームに参加</div>
        </div>
        <div class="xl:flex items-center justify-evenly 2xl:ml-0 xl:ml-5">
            <div>
                <div class="font-semibold text-base text-gray-500 mt-4 <%=user_signed_in? ? 'xl:text-[20px] xl:-ml-2' : 'xl:text-2xl'%>">共有されたリンクをクリックしてチームへの認証に成功します</div>
                <%= image_tag 'step4-1.jpeg',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80 xl:-ml-2' : 'xl:h-96'} " %>
            </div>
            <div class="flex justify-center xl:hidden">
                <i class="fa-solid fa-caret-down text-6xl text-gray-500"></i>
            </div>
            <div class="xl:block hidden mx-3">
                <i class="fa-solid fa-caret-right text-8xl text-gray-500"></i>
            </div>
            <div class="mt-4">
                <div class="font-semibold text-base text-gray-500 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">設定されたそれぞれの項目に記入してプロフィールを登録します</div>
                <%= image_tag 'step4-2.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80' : 'xl:h-96   '} " %>
            </div>
        </div>
        <div class="flex justify-center xl:hidden">
            <i class="fa-solid fa-caret-down text-6xl text-gray-500"></i>
        </div>
        <div class="xl:mt-8 xl:ml-5">
            <div class="font-semibold text-base text-gray-500 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">登録が完了すると、チームのメンバーになることができます</div>
            <%= image_tag 'step4-3.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? '2xl:h-80 xl:h-72' : '2xl:h-96 xl:h-[333px]'} " %>
            <div class="font-semibold text-sm text-gray-500 mt-6 text-right xl:text-start xl:text-2xl">※管理者も同様にチームへ参加する必要があります</div>
        </div>
    </div>
    <div class="mt-20">
        <div class="xl:ml-4">
            <h1 class="bg-blue-400 text-lg xl:text-4xl text-white border rounded-2xl px-4 py-1 font-semibold  inline-block">STEP 5</h1>
            <div class="mt-1 xl:mt-5 font-bold text-[30px] xl:text-5xl text-gray-700">メンバーを閲覧＆検索</div>
        </div>
        <div class="xl:flex flex-none justify-evenly items-center 2xl:ml-0 xl:ml-5">
            <div>
                <div class="font-semibold text-base text-gray-500 mt-4 <%=user_signed_in? ? 'xl:text-[20px] xl:-ml-2' : 'xl:text-2xl'%>">他のメンバーのプロフィールを閲覧することができます</div>
                <%= image_tag 'step5-1.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80 xl:-ml-2' : 'xl:h-96'}" %>
            </div>
            <div class="flex justify-center xl:hidden">
                <i class="fa-solid fa-caret-down text-6xl text-gray-500"></i>
            </div>  
            <div class="xl:block hidden mx-3">
                <i class="fa-solid fa-caret-right text-8xl text-gray-500"></i>
            </div>
            <div class="mt-4">
                <div class="font-semibold text-base text-gray-500 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">各メンバーをクリックすると、詳細を見ることができます</div>
                <%= image_tag 'step5-2.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80' : 'xl:h-96   '} " %>
            </div>
        </div>
        <div class="xl:flex flex-none justify-evenly items-center 2xl:ml-0 xl:ml-5 mt-8">
            <div>
                <div class="font-semibold text-base text-gray-500 <%=user_signed_in? ? 'xl:text-[20px]' : 'xl:text-2xl'%>">項目ごとにキーワードを入力して検索をかけることもできます</div>
                <%= image_tag 'step5-3.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80' : 'xl:h-96'}" %>
            </div>
            <div class="mx-11"></div>
            <div class="mt-5 2xl:mt-5 xl:mt-16">
                <%= image_tag 'step5-4.png',class:"shadow-xl w-auto h-56 #{user_signed_in? ? 'xl:h-80 ' : 'xl:h-96'} mr-5 xl:mt-0" %>
            </div>
        </div>
    </div>
</div>

<% unless user_signed_in? %>
    <div class="border-b-2 border-gray-300 w-full inline-flex justify-center mt-20 mb-10"></div>

    <div class="xl:mt-36 mt-2">
        <div class="text-center text-gray-700 text-3xl xl:text-6xl font-semibold">Members Hubに登録する</div>
        <div class="text-center mt-16 mb-96 animate-bounce">
            <%= link_to '新規登録', new_user_registration_path,class:"btn animate-bounce bg-blue-500 rounded font-semibold p-4 xl:p-2 xl:px-4 text-5xl text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" ,data: {turbo_frame:"signin/up"} %>
        </div>
    </div>    
<% end %>


