
<%profile_fields.map.with_index(1) do |profile_field,i|%>
    <div>
      <% if profile_field.name == "生年月日" || profile_field.name == "名前" %>
        <% if profile_field.name == "生年月日" %>
          <%= f.label :content,profile_field.name, class: "block text-gray-700 text-sm font-medium mt-3" %>
          <%= f.date_field "content#{i}",value:session["content#{i}"] || "", start_year:Time.now.year - 100,end_year:Time.now.year, class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 w-96"%>
        <% else %>
          <%= f.label :content,profile_field.name, class: "block text-gray-700 text-sm font-medium mt-3",data:{target:"FormValidations.content#{i}"} %>
          <%= f.text_field "content#{i}", value:current_user.name ||session["content#{i}"] || "",class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500  w-96"%>   
        <% end %>
      <% else %>
          <%= f.label :content,profile_field.name, class: "block text-gray-700 text-sm font-medium mt-3",data:{target:"FormValidations.content#{i}"} %>
          <%= f.text_field "content#{i}", value:session["content#{i}"] || "",class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500  w-96"%>  
      <% end %>
  </div>
<% end %>
