<div class="xl:flex justify-between -mb-7">
    <h1 class="text-2xl font-bold xl:mb-6 mb-2">プロフィールを編集</h1>
    <div class="flex justify-start xl:justify-end xl:flex-none ">
      <%= render "shared/simple_team_card" %>
    </div>
</div>
<div>
    <%= form_with(url: users_members_profile_value_path, method: :patch) do |f| %>
        <div>
            <div class="grid grid-cols-1 xl:grid-cols-2 grid-flow-row gap-3">

                <% if @profile_values %>
                    <% @profile_values.each do |profile_value| %>
                        <%=fields_for "profile_values[]", profile_value do |v| %>
                        <%= render 'shared/error_messages', resource: profile_value %>
                        <div>
                            <%= v.label profile_value.profile_field.name, class: "block text-gray-700 text-sm font-medium" %>
                            <% if profile_value.profile_field.name == "生年月日" %>
                                <%= v.date_field :content, value: profile_value.content, class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 w-full xl:w-96" %>
                            <% else %>
                                <%= v.text_field :content, value: profile_value.content, class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 w-full xl:w-96" %>
                            <% end %>
                        </div>
                        <% end %>
                    <% end %>
                <% end %>

                <%if @unfilled_profile_fields %>
                    <%@unfilled_profile_fields.each do |profile_field|%>
                        <%=fields_for "unfilled_profile_values[]" do |u|%>
                            <div>
                                <%= u.label profile_field.name, class: "block text-gray-700 text-sm font-medium" %>
                                <%=u.hidden_field :profile_field_id,value:profile_field.id%>
                                <%= u.text_field :content, class: "block border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500 w-full xl:w-96" %>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                
                <% if @member %>
                    <%=fields_for @member do |m|%>
                        <div class="flex">
                            <div class="flex items-start">
                                <div class="mr-5">
                                    <%= f.label "プロフィール画像", class: "block text-gray-700 text-sm font-medium mb-1" %>
                                    <%= f.file_field :image, class: "mt-1 block w-60 border border-gray-300 rounded-md py-2 px-3 bg-white shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm", direct_upload: true, data: { previews_target: "input", action: "change->previews#preview" } %>     
                                </div>
                            <div class="mt-5">
                            <% if @member.image.attached? %>
                                <%= image_tag @member.image.variant(resize_to_limit:[200,200]) ,data: { preview_target: "preview" } %>
                            <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div>
            <%= f.submit "更新", class: "bg-blue-500 text-white py-2 px-4 rounded-md shadow-sm mt-10 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 mb-10" %>
        </div>
    <% end %>
</div>









