<div class="h-full">
    <header class="bg-stone-50 flex shadow-md xl:justify-between items-center h-16 xl:h-20 max-w-full">
        <div class="xl:hidden w-1/6 xl:w-full">
            <% if user_signed_in? %>
                <%= render 'layouts/components/slide_menu' %>   
            <% end %>
        </div>
        <div class="flex justify-between w-5/6 xl:w-full">
            <div class="<%=user_signed_in? ? "m-2 " : '-ml-10 xl:ml-0'%>">
                <%= link_to root_path ,class:"flex items-center",id:"logo" do %>
                    <%= image_tag 'logo.png' ,class:"w-auto h-14 xl:h-16 m-1 xl:pl-64 xl:text-4xl"%>
                <% end %>   
            </div>

            <% if user_signed_in? %>
                <%= render 'layouts/components/icon' %>
            <% else %>
                <div class="flex items-center mr-3 xl:pr-32">
                    <%= link_to 'ログイン', new_user_session_path ,class:"btn bg-blue-500 rounded p-2 xl:p-2 xl:px-4 text-sm xl:text-base text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" ,data: {turbo_frame:"signin/up"}%>
                </div>
            <% end %>
        </div>
    </header>
</div>

