<!DOCTYPE html>
<html>
  <head>
    <title>Members Hub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# FontAwesomeを使うためのコード%>
    <script src="https://kit.fontawesome.com/001a14c1b8.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body class="bg-stone-50 h-full">
    <div class="h-full">
      <%= render "layouts/header" %>
      <% if user_signed_in? %>
        <div class="flex h-screen">
          <!-- サイドバー -->
          <div class="w-1/6 2xl:w-60 bg-gray-200 hidden xl:block">
            <%= render "layouts/sidebar" %>
          </div>
          <!-- メインコンテンツ -->
          <div class="w-screen xl:w-5/6 2xl:w-7/8 overflow-auto pb-20">
            <div id="flash">
              <%= render "shared/flash" %>
            </div>
            <%= render 'layouts/main_content' %>
          </div>
          <!--stimulusにアタッチさせるようのモーダルタグ-->
          <%= turbo_frame_tag "modal" %>
        </div>
      <% else %>
        <%= render "shared/flash" %>
        <%= render 'layouts/main_content' %>
      <% end %>
    </div>
  </body>

</html>
