<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# FontAwesomeを使うためのコード%>
    <script src="https://kit.fontawesome.com/001a14c1b8.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-stone-50">
    <%=render "layouts/header"%>
      <%#ログインしているかどうかでレイアウトを変更%>
      <% if user_signed_in? %>
        <div class="flex flex-wrap">
          <div class="w-1/6">
            <%=render "layouts/sidebar"%>
          </div> 
          <div class="w-5/6">
            <%= render "shared/flash"%>
            <main class="container mx-auto mt-16 px-5">
              <%= yield %>
            </main>
          </div>
        </div>
      <% else %>
          <%= render "shared/flash"%>
          <main class="container mx-auto mt-16 px-5">
            <%= yield %>
          </main>
      <% end %>
  </body>
</html>
